<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Classificação Iris</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= "style.css") }}">
</head>
<body>

    <div class="container">
        <h1>Classificação da Flor Iris</h1>

        <form action="/predict" method="post">

            <label>Comprimento da Sépala</label>
            <input type="number" step="0.01" name="sepal_length" required>

            <label>Largura da Sépala</label>
            <input type="number" step="0.01" name="sepal_width" required>

            <label>Comprimento da Pétala</label>
            <input type="number" step="0.01" name="petal_length" required>

            <label>Largura da Pétala</label>
            <input type="number" step="0.01" name="petal_width" required>

            <button type="submit">Classificar</button>
        </form>

        {% if prediction %}
            <div class="result">
                <h2>Resultado:</h2>
                <p>{{ prediction }}</p>
            </div>
        {% endif %}

    </div>

</body>
</html>