body {
    font-family: Arial, sans-serif;
    background-color: red; }

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e6f4ea;
}